    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'iranyekan';
    }

    :root{
        --bodyColor : #fffcf9;
        --parimryColor: #f48945;
        --secondaryColor : #f4d367;
        --checkColor: #7fcfa4;
        --infoColor:#6c90ed;
        --dangerColor:#e14a4a;
        --lightGray :#dcdbdb;
        --naturalWhite: #fff;

    }
    /*-----------------------------------------------main------------------------------------------------------*/
    
    main {
        width: 100vw;
        height: 100vh;
        display : flex;
        flex-direction: column;
        align-items: center;
    }

    /*-----------------------container-----------------------------*/

    .container {
         margin: 20px;
         width: 20rem;
         height: auto;
         background-color: var(--bodyColor);
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 10px;
         border: 2px solid var(--parimryColor);
         border-radius: 10px;
    }

    .container h1{
        color: var(--parimryColor);
        margin-bottom: 5px;
    }

    /*--------------------------form container-----------------------*/

    .todo_inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 2rem;
        margin-bottom: 5px;
        padding: 0 5px;
        border: 1px solid var(--secondaryColor);
        border-radius: 5px;
        background-color: var(--naturalWhite);
    }

    /*------------------------todos_container------------------------*/

    .todos_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_container{
        width: 100%;
    }

    .form_container form {
         width: 100%;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
    }

    .form_container form input{
        border-style: none;
         border:1px solid var(--lightGray);
         border-radius: 3px;
         padding: 2px;
         transition: 0.5s ease-in-out;
         outline: none;
         cursor: pointer;
    }

    .todo-input[type=text]:focus {
        border: 1px solid var(--secondaryColor);
        border-radius: 3px;
    }

    .select_container select{
        border: 1px solid var(--lightGray);
        border-radius: 3px;
        height: 1.3rem;
        cursor: pointer;
    }

    .select_container select:focus{
        border: 1px solid var(--secondaryColor);
        border-radius: 3px;
        outline: none;
    }

    .form_container form span {
        color: var(--parimryColor);
        font-size: 1.3rem;
        cursor: pointer;
    }

    /*------------------------todos----------------------------------*/


.todos {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*---------------------------todo---------------------------------------*/

.todos li{
    width: 100%;
    height: 1.5rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: var(--naturalWhite);
    border: 1px solid var(--lightGray);
    cursor: pointer;
}

.todos li span{
    margin-left: 2px;
    margin-right: 2px;
}

.fa-trash-can{
    color: var(--dangerColor)
}

.fa-pen-to-square {
    color: var(--infoColor)
}
